<?xml version="1.0"?>
<launch>

  <arg name="mav_name" default="firefly"/> <!-- some options:  firefly hummingbird TODO(lpt) add neo11    -->
  <arg name="enable_logging" default="false" />
  <arg name="log_file" default="$(arg mav_name)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic.world" />
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/> 
    <arg name="paused" value="false"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find visensor_simulator)/resources/mav_with_odom_and_vi_sensor_and_gimbal_no_cameras.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="true" />
      <arg name="log_file" value="$(arg log_file)"/>
    </include>
  </group>

  <group ns="$(arg mav_name)">
    <node name="mav_linear_mpc" pkg="mav_nonlinear_mpc" type="nonlinear_mpc_node" respawn="true" clear_params="true" output="screen">
      <remap from="odometry" to="odometry_sensor1/odometry" />
      <rosparam file="$(find mav_nonlinear_mpc)/resources/nonlinear_mpc_$(arg mav_name).yaml" />
      <rosparam file="$(find mav_disturbance_observer)/resources/disturbance_observer_$(arg mav_name).yaml"/>
      <param name="verbose" value="true" />
      <param name="use_rc_teleop" value="false" />
      <param name="reference_frame" value="world" />
    </node>

    <node name="PID_attitude_controller" pkg="mav_lowlevel_attitude_controller" type="mav_pid_attitude_controller_node" respawn="true" clear_params="true" output="screen">
      <remap from="odometry" to="ground_truth/odometry" />
      <rosparam file="$(find mav_lowlevel_attitude_controller)/resources/PID_attitude_$(arg mav_name).yaml" />
    </node>
  </group>


    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam1" args="set  $(arg mav_name)/mav_linear_mpc roll_max 0.1" />
    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam2" args="set  $(arg mav_name)/mav_linear_mpc pitch_max 0.1" />

    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam3" args="set  gazebo time_step 0.005" />
    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam4" args="set  gazebo max_update_rate 200" />

</launch>
